{% extends 'base.html' %} {% block content %}
<h2>Parts</h2>
<form method="get" class="mb-3">
  <input
    type="text"
    name="q"
    class="form-control"
    placeholder="Search by part or assembly name..."
    value="{{ query }}"
  />
</form>
<a href="/parts/add/" class="btn btn-success mb-3">Add Part</a>
<ul class="list-group">
  {% for part in parts %}
  <li class="list-group-item">
    {{ part.name }} - Assembly: {{ part.assembly.name }}
  </li>
  {% empty %}
  <li class="list-group-item">No parts found.</li>
  {% endfor %}
</ul>
{% endblock %}
