# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Django
*.sqlite3
*.db
*.bak
*.swp
*.tmp

# Django migrations (если не хотите трекать)
**/migrations/
!**/migrations/__init__.py

# Virtual Environments
.venv/
venv/
env/
ENV/

# VSCode settings
.vscode/
.vscode/*

# Git itself
.git/
