# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.loggit 
*.cfg
*.toml

# Django
*.sqlite3
*.db
*.bak
*.swp
*.tmp

# **/migrations/
!**/migrations/__init__.py

# Virtual Environments
.venv/
venv/
env/
ENV/
.env
**/media/

# VSCode settings
.vscode/
.vscode/*

# Git itself
.git/

# other
*.DS_Store
.ruff_cache/
.well-known/