asgiref==3.9.1
Brotli==1.1.0
cffi==1.17.1
channels==4.3.0
cssselect2==0.8.0
Django==5.2.4
django-appconf==1.1.0
django-select2==8.4.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
fonttools==4.59.0
mysqlclient==2.2.7
pillow==11.3.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
pytz==2025.2
ruff==0.12.7
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
