{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container-fluid px-4 d-flex align-items-center">
        <a class="navbar-brand order-0 d-flex align-items-center" href="/">
            <img src="{% static 'images/icon.png' %}"
                 alt="AssemblyCloud Logo"
                 style="max-height: 50px;
                        margin-right: 8px">
            AssemblyCloud
        </a>
        <button class="navbar-toggler order-2 ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-1 justify-content-center"
             id="navbarNav">
                <ul class="navbar-nav gap-2">
                    <li class="nav-item">
                        <a class="nav-link {% if 'machine' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'machine_list' %}">Машины</a>
                    </li>
                </ul>
        </div>
    </div>
</nav>
