{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h3 class="card-title mb-4 text-center">Установка нового пароля</h3>

        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="text-danger small">{{ field.errors }}</div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Сменить пароль</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
