{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h3 class="card-title mb-4 text-center">{{ title }}</h3>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% if form.user %}
                            {{ form.user.as_hidden }}
                        {% endif %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {% if field.name == "blueprint" %}
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 me-2">{{ field }}</div>
                                        <a href="{% url 'blueprint_add' %}"
                                           class="btn btn-green icon-link icon-link"
                                           target="_blank">
                                            <i class="bi bi-plus"></i>
                                        </a>
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.errors %}<div class="text-danger small">{{ field.errors }}</div>{% endif %}
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-blue">{{ submit_label|default:"Сохранить" }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
