<li>
    {% if node.parts or node.submodules %}
        <details open>
            <summary>
                <span class="module-label" data-module-id="{{ node.module.id }}">Модуль:</span>
                <a href="{% url 'module_detail' node.module.id %}">{{ node.module.name }}</a>
            </summary>
            {% if node.parts %}
                <ul>
                    {% for part in node.parts %}
                        <li>
                            Деталь: <a href="{% url 'part_detail' part.part.id %}"  class="detail_links">{{ part.part.name }}</a>
                            <a href="{% url 'modulepart_detail' part.id %}"  class="detail_links"> (x{{part.quantity}})</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if node.submodules %}
                <ul>
                    {% for sub in node.submodules %}
                        {% include "components/assembly_tree.html" with node=sub %}
                    {% endfor %}
                </ul>
            {% endif %}
        </details>
    {% else %}
        <span class="module-label" data-module-id="{{ node.module.id }}">
            Модуль: <a href="{% url 'module_detail' node.module.id %}"  class="detail_links">{{ node.module.name }}</a>
        </span>
    {% endif %}
</li>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menu = document.getElementById('context-menu');

    document.addEventListener('click', function () {
      menu.style.display = 'none';
    });

    document.querySelectorAll('.module-label').forEach(label => {
      label.addEventListener('contextmenu', function (e) {
        e.preventDefault();
        const moduleId = this.dataset.moduleId;
        const machineId = 1;
        const moduleDeleteUrlTemplate = "{% url 'module_delete' 0 %}".replace("0", moduleId);

        menu.innerHTML = `
          <a href="{% url 'module_add' %}?machine=${machineId}&parent=${moduleId}">Добавить подмодуль</a>
          <a href="{% url 'part_add' %}?module=${moduleId}">Добавить деталь</a>
          <a href="${moduleDeleteUrlTemplate}">Удалить модуль</a>
        `;

        const rect = this.getBoundingClientRect();
        const top = window.scrollY + rect.bottom;
        const left = window.scrollX + rect.left;

        menu.style.top = `${top}px`;
        menu.style.left = `${left}px`;
        console.log(menu.style.top,  menu.style.left)
        menu.style.display = 'block';
      });
    });
  });
</script>
