{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container-fluid px-4 d-flex align-items-center">
        <a class="navbar-brand order-0 d-flex align-items-center" href="/">
            <img src="{% static 'images/icon.png' %}"
                 alt="AssemblyCloud Logo"
                 style="max-height: 50px;
                        margin-right: 8px">
            AssemblyCloud
        </a>
        <button class="navbar-toggler order-2 ms-auto"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-1 justify-content-center"
             id="navbarNav">
            {% if user.is_authenticated %}
                <ul class="navbar-nav gap-2">
                    <li class="nav-item">
                        <a class="nav-link {% if 'machine' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'machine_list' %}">Машины</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'module' in request.resolver_match.url_name and 'part' not in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'module_list' %}">Модули</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'part' in request.resolver_match.url_name and 'module' not in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'part_list' %}">Изделия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'manufacturer' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'manufacturer_list' %}">Производители</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'client' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'client_list' %}">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'modulepart' in request.resolver_match.url_name %}active{% endif %}"
                           href="{% url 'modulepart_list' %}">Количество деталей</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav gap-2 mt-2 d-lg-none">
                {% if user.is_authenticated %}
                    <!-- <li class="nav-item">
                        <a class="nav-link {% if 'task' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'task_list' %}">Задачи</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}"
                           href="{% url 'user_profile' pk=request.user.pk %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-success {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
                           href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success {% if request.resolver_match.url_name == 'login' %}active{% endif %}"
                           href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-none d-lg-flex align-items-center order-3">
            <ul class="navbar-nav gap-2">
                {% if user.is_authenticated %}
                    <!-- <li class="nav-item">
                        <a class="nav-link {% if 'task' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'task_list' %}">Задачи</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}"
                           href="{% url 'user_profile' pk=request.user.pk %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-success {% if request.resolver_match.url_name == 'register' %}active{% endif %}"
                           href="{% url 'register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success {% if request.resolver_match.url_name == 'login' %}active{% endif %}"
                           href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
