<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand fs-4 fw-bold mx-auto" href="/">AssemblyCloud</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Профиль</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Объекты</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'part_list' %}">Детали</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'manufacturer_list' %}">Производители</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'machine_list' %}">Машины</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'blueprint_list' %}">Чертежи</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'module_list' %}">Модули</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger ms-2" href="{% url 'logout' %}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-outline-success ms-2">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="btn btn-outline-success ms-2">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
