<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">AssemblyCloud</a>
    <div>
      {% comment %} <a class="nav-link d-inline" href="{% url 'user_edit' %}">Редактировать</a> {% endcomment %}
      {% comment %} <a class="nav-link d-inline" href="{% url 'password_change' %}">Сменить пароль</a> {% endcomment %}
      {% if user.is_authenticated %}
        <a class="nav-link d-inline" href="{% url 'user_profile' %}">Профиль</a>
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Выйти</a>
      {% else %}
        <a href="{% url 'register' %}" class="btn btn-outline-success">Регистрация</a>
        <a href="{% url 'login' %}" class="btn btn-outline-success">Войти</a>
      {% endif %}
    </div>
  </div>
</nav>
