<!-- DO NOT FORMAT THE FILE. BREAKS THE LOGIC OF THE OUTPUT -->
{% with indent=indent|default:"" %}
    {{ indent }}└─ Модуль: <a href="{% url 'module_detail' node.module.id %}">{{ node.module.name }}</a> (id={{ node.module.id }})<a href="{% url 'module_add' %}?machine=1&parent={{ node.module.id }}"
   class="btn btn-sm btn-outline-success p-1"
   title="Добавить подмодуль"><i class="bi bi-plus"></i> <i class="bi bi-boxes"></i></a><a href="{% url 'modulepart_add' %}?module={{ node.module.id }}"
   class="btn btn-sm btn-outline-warning p-1"
   title="Добавить деталь"><i class="bi bi-plus"></i> <i class="bi bi-gear"></i></a>
    {% for part in node.parts %}
        {{ indent }}   ├─ Деталь: <a href="{% url 'part_detail' part.part.id %}">{{ part.part.name }}</a> (<a href="{% url 'modulepart_detail' part.part.id %}">x{{ part.quantity }}</a>) [id={{ part.part.id }}]
    {% endfor %}
    {% for sub in node.submodules %}
        {% include "components/assembly_tree.html" with node=sub indent=indent|add:"    " %}
    {% endfor %}
{% endwith %}
